<div class="container">
				<div class="row col-xs-12">
					<div class="aligncenter"><h1 class="jumbotron text-left">SmartPDF Register</h1></div>
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Register account</h3>
								</div>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                  <%= devise_error_messages! %>
								<div class="container">
									<div class="panel-body col-xs-8">
                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
										<span class="group-btn">
											<hr>
                      <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
										</span>
									</div>
									<div class="panel-body col-xs-2">
										<h1 class="text-center">Smart</br>PDF</h1>
									</div>
								</div>
								<div class="panel-footer">
									<%= render "devise/shared/links" %>
								</div>
                <% end %>
						</div>
				</div>
</div>
